@import "../../../Styles/variables";

.inputBox {
  justify-content: space-between;
  border: 2px solid lightgray;
  width: 6vmin;
  height: 6vmin;
  background-color: white;
  margin: 5px;
  font-size: 4vmin;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
}
