.inputBox {
  justify-content: space-between;
  border: 2px solid lightgray;
  width: 40px;
  height: 36px;
  margin: 5px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
  &.correct {
    background-color: #60ba51;
    border-color: #60ba51;
  }
  &.wrong {
    background-color: #c0423f;
    border-color: #c0423f;
  }
  &.misplaced {
    background-color: #d3aa41;
    border-color: #d3aa41;
  }
}
