.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;

  .board {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .keyboard {
    padding: 10px;
  }
}
